@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: #000 ;
}

img{
    object-fit: cover;
}

body{
    background-color: #f1f1f1;
}


/* Navigation bar Css starts here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav .logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(151, 8, 156);
}

nav .links a:not(:last-child){
    margin-right: 20px;
}

nav .login button{
    padding: 8px 14px;
    border: none;
    margin: 14px;
    cursor: pointer;
    background-color: transparent;
}

nav .login #signup{
    background-color: #9e2584;
    color: #f1f1f1;
    border-radius: 5px;
    margin-right: 14px;
}

nav .login #signup:hover{
    background-color: #fff;
    color: #000;
}
/* Navigation bar Css ends here */


/* Home page Css starts here */
header{
    padding: 0 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left-side{
    width: 700px;
}

header .left-side h1{
    font-size: 4rem;
}

header .left-side h1 span{
    color: #9e2584;
}

header .left-side p{
    margin: 60px 0;
    color: #777;
}

header .left-side a{
    display: flex;
    align-items: center;
    background: #72015a;
    width: 180px;
    border-radius: 60px;
    padding: 8px;
}

header .left-side a i{
    background-color: #ffffff;
    font-size: 30px;
    border-radius: 50%; 
}

header .left-side a span{
    color: #fff;
    margin-left: 10px;
}

header img{ 
    width: 330px;
}
/* Home page Css ends here */


/* News & Updates css starts here  */
h2.seperator{
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}

.news{
    padding: 0 80px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
}

.news .card,
.library .game-list .list,
.players .list{
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(139, 67, 135, 0.164);
    border: .2rem solid #dadbdf;
    transform: all .5s ease;
}

.news .card:hover,
.library .game-list .list:hover,
.players .list:hover{
    border-color: #5d145fc9;
}

.news .card .header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.news .card .header i{
    font-size: 40px;
}

.news .card .header h5{
    font-size: 17px;
    color: #9e2584;
}

.news .card .header p{
    margin-top: 10px;
    padding: 0 4px;
}
/* News & Updates css ends here  */


/* Games library css starts here */
.library{
    padding: 0 80px;
    margin-top: 30px;
}

.library .category{
    display: flex;
    gap: 14px;
}

.library .category a{
    background-color: #dfdcdc;
    padding: 8px 14px;
    font-size: 15px;
    border-radius: 14px;
    transition: all 0.3s ease;
}

.library .category a:hover{
    color: #fff;
    background-color: #9e2584;
}

.library .game-list{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.library .game-list .list img{
    width: 200px;
    height: 200px;
    border-radius: 18px;
}

.library .game-list .list .info{
    padding: 12px 0;
}

.library .game-list .list .info h5{
    font-size: 18px;
}

.library .game-list .list .site{
    padding: 14px 0 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.library .game-list .list .site a{
    color: #ff0000;
    background: transparent;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: #edecec;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 10px;
}

.library .game-list .list .site a:hover{
    color: #fff;
    background-color: #ff0000;
}

.view-more{
    margin: 10px 0 40px;
    display: flex;
    justify-content: center;
}

.view-more button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: #dfdcdc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-more button:hover{
    color: #fff;
    background: #ff0000 ;
}
/* Games library css ends here */


/* Players css starts here */
.players{
    padding:  0 80px;
    margin: 40px 0 80px;
    display: flex;
    gap: 30px;
}

.players .list{
    background: #fff;
    display: flex;
    align-items: center;
    width: 25%;
    grid-area: 14px;
    padding: 14px;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(139, 67, 135, 0.164);
    transition: all 0.3s ease;
}

.players .list img{
    width: 64px;
}

.players .list .info p{
    font-size: 14px;
    margin-top: 8px;
}
/* Players css ends here */


/* Footer css starts here */
footer{
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3{
    font-size: 48px;
}

footer .right{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links{
    display: flex;
    gap: 30px;
}

footer .right .links a{
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover{
    color: #fff;
}

footer .right .social{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
}

footer .right .social i:hover{
    color: #ffd000;
}

footer .right p{
    font-size: 13px;
    color: #777;
}
/* Footer css ends here */


/* Medaia query */
@media screen and (max-width: 1400px){
    nav,
    header,
    h2.seperator,
    .news,
    .library,
    .players{
        padding: 0 40px;
    }

    header .left-side h1{
        font-size: 60px;
    }

    header img{
        width: 500px;
    }

    .library .game-list .list img{
        width: 180px;
        height: 180px;
    }

    footer{
        padding: 100px 40px;
    }

    footerh h3{
        font-size: 30px;
    } 
}

@media screen and (max-width: 1200px){
    header .left-side h1{
        font-size: 48px;
    }

    header img{
        width: 400px;
    }

    h2.seperator{
        font-size: 34px;
    }

    .news .card .header i{
        font-size: 36px;
    }

    .news .card .header h5{
        font-size: 15px;
    }

    .news .card p{
        font-size: 14px;
    }

    .library .game-list{
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .library .game-list .list{
        width: 48%;
    }

    .library .game-list .list img{
        width: 100%;
        height: auto;
    }

    .players{
        flex-wrap: wrap;
    }

    .players .list{
        width: 48%;
    }

    footer .links a{
        font-size: 15px;
    }
}

@media screen and (max-width: 992px){
    nav a.logo{
        font-size: 28px;
    }

    nav .links a{
        font-size: 14px;
    }

    header{
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 60px;
    }

    header .left-side{
        width: 100%;
    }

    header img{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .news{
        flex-wrap: wrap;
        gap: 20px;
    }

    .news .card{
        width: 48%;
    }

    .players{
        gap: 20px;
    }

    footer{
        flex-direction: column;
        padding: 60px 40px;
    }

    footer h3{
        margin-bottom: 40px;
        font-size: 32px;
    }

    footer .right{
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    nav,
    header,
    h2.seperator,
    .news,
    .library,
    .players{
        padding: 0 20px;
    }

     nav .logo{
        display: none;
    }

    nav .links a{
        font-size: 12px;
    }

    nav.login buttton{
        font-size: 12px;
        padding: 6px 10px;
    }

    header .left-side h1{
        font-size: 36px;
    }

    header .left-side p{
        font-size: 14px;
    }

    header .left-side a{
        padding: 6px;
        width: 160px;
        font-size: 14px;
    }

    header .left-side a i{
        padding: 6px;
        font-size: 20px;
    }

    h2.seperator{
        font-size: 30px;
    }

    footer{
        padding: 40px 20px;
    }
}

@media screen and (max-width: 576px){
    header .left-side h1{
        font-size: 30px;
    }

    .news .card{
        width: 100%;
    }

    .library .game-list .list,
    .players .list{
        width: 47%;
    }

    .library .category a{
        font-size: 13px;
    }

    footer h3{
        font-size: 24px;
    }
}

@media screen and (max-width: 454px){
    nav,
    header,
    h2.seperator,
    .news,
    .library,
    .players{
        padding: 0 10px;
    }

    nav .links a{
        font-size: 10px;
    }

    nav .login #signup{
        margin-right: 10px;
    }

    .players .list{
        width: 80%;
    }

    footer{
        padding: 50px 10px;
    }

    footer h3{
        font-size: 20px;
    }

    footer .links a{
        font-size: 12px;
    }
}

@media screen and (max-width: 404px){
    h2.seperator{
        font-size: 28px;
    }

    nav .links a{
        font-size: 12px;
    }

    nav .login button{
        padding: 5px 8px;
        margin: 5px;
    }

    nav .login #signup{
        margin-right: 0px;
    }

}

